* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}  

div {
    padding-top: 20px;
    padding-bottom: 20px;
}

ul {
    padding: 20px;
}


li {
    margin-bottom: 10px;
  }

  li button {
    font-size: 12px;
    margin-left: 20px;
    color: #666;
  }

